:root {
  padding: 50px;
}

.App {
  display: flex;
  flex-wrap: nowrap;
}
.w-400 {
  display: flex;
  width: 400px;
  height: auto;
  flex-wrap: wrap;
  justify-content: center;
}
.form-container {
  padding: 50px;
  width: 50px;
  display: flex;
  flex-wrap: wrap;
}
